---
http_interactions:
- request:
    method: get
    uri: https://secure.fleetio.com/api/v1/vehicles/168/fuel_entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token 635d9bf526682e02ab8abcf05b00561d50de8142
      Account-Token:
      - 798819214b
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Pagination-Limit:
      - '100'
      X-Pagination-Current-Page:
      - '1'
      X-Pagination-Total-Count:
      - '119'
      X-Pagination-Total-Pages:
      - '2'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"583abc9270212fb1e2f8c9d4c8bac12b"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":14935615,"cost_per_hr":null,"cost_per_km":null,"cost_per_mi":null,"custom_fields":{"used_card":"false","card_number":"","driver_name":"","expense_type":"","last_fill_up":"","fuel-up_state":"","fuel_unit_number":"","juan_type_of_fuel":"","second_tank_gallons":"","test_restricted_custom_fields":""},"date":"2020-03-13T15:54:26.628-05:00","external_id":null,"fuel_type_id":null,"fuel_type_name":null,"kpl":null,"liters":"51.406","liters_per_hr":null,"lp100k":null,"mpg_uk":null,"mpg_us":null,"partial":null,"personal":false,"price_per_volume_unit":4.489,"raw_transaction_data":null,"reference":null,"region":null,"reset":null,"uk_gallons":"11.308","uk_gallons_per_hr":null,"us_gallons":"13.58","us_gallons_per_hr":null,"usage_in_hr":null,"usage_in_km":null,"usage_in_mi":null,"vehicle_id":168,"vehicle_name":"2006
        Ford Taurus (297JT)","vendor_id":null,"vendor_name":null,"total_amount":60.96,"meter_entry":{"id":74869834,"auto_voided_at":null,"category":null,"date":"2020-03-13","meter_type":null,"meterable_id":14935615,"meterable_type":"FuelEntry","value":"58405.0","vehicle_id":168,"void":false,"type":null,"created_at":"2020-03-13T15:48:30.690-05:00","updated_at":"2020-03-13T15:48:30.690-05:00"},"geolocation":{"latitude":32.1876367,"longitude":-80.7193943,"altitude":-23.89999961853027,"speed":0.0,"accuracy":17.59000015258789},"created_at":"2020-03-13T15:48:30.675-05:00","updated_at":"2020-03-13T15:48:30.706-05:00"},{"id":2630,"cost_per_hr":null,"cost_per_km":0.236,"cost_per_mi":0.381,"custom_fields":{"used_card":"false","card_number":"","driver_name":"","expense_type":"","last_fill_up":"","fuel-up_state":"","fuel_unit_number":"","juan_type_of_fuel":"","second_tank_gallons":"","test_restricted_custom_fields":""},"date":"2011-08-16T16:56:10.751-05:00","external_id":null,"fuel_type_id":null,"fuel_type[...]
